<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>Main_pacakage.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cus_login</servlet-name>
        <servlet-class>Main_pacakage.cus_login_ser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clogin_ser</servlet-name>
        <servlet-class>Main_pacakage.Clogin_ser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cus_login</servlet-name>
        <url-pattern>/cus_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clogin_ser</servlet-name>
        <url-pattern>/Clogin_ser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
